.App {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.iht-content-wrapper {
	min-width: 300px;
	margin: auto;
}
.iht-content-title-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.iht-form {
	width: 65vw;
	max-width: 500px;
}
.iht-inputs-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
	place-items: center;
	width: 100%;
}
.iht-inputs-form > .iht-button {
	grid-column: 1 / span 2;
}
.iht-inputs-form > :last-child {
	margin-top: 16px;
}

@media (max-width: 601px) {
	.iht-inputs-form {
		display: flex;
		flex-direction: column;
	}
}
